body {
	background-color: lightgray;
}

.center {
	margin-left: 200px;
	margin-top: 10px;
	width: 70%;
	padding: 50px;
	background-color: white;
}

#element div {
	display: inline;
}

.size {
	padding-left: 500px;
}

.qtyprice {
	padding-left: 100px;
}

hr.hr1 {
	height: 3px;
	background-color: lightgray;
}

#inner_div div {
	display: inline;
}

.size1 {
	padding-left: 220px;
}

#label1 {
	padding-right: 20px;
}

#button1 {
	margin-left: 30px;
}

#label2 {
	padding-right: 200px;
}

#span1 {
	margin-left: 200px;
}

.div_width {
	padding-left: 100px;
}
#span2{
    margin-left: 230px;
}